/.metadata/
ExploreJava/bin/*
ExploreJava/.classpath
ExploreJava/.settings
ExploreDatabase/.settings/org.eclipse.m2e.core.prefs
ExploreDatabase/.classpath
ExploreDatabase/.project
ExploreDatabase/.settings/org.eclipse.jdt.apt.core.prefs
ExploreDatabase/.settings/org.eclipse.jdt.core.prefs
ExploreDatabase/target
*.class
*.jar
ExploreServlets/.classpath
ExploreServlets/.project
ExploreServlets/.settings/.jsdtscope
ExploreServlets/.settings/org.eclipse.jdt.core.prefs
ExploreServlets/.settings/org.eclipse.wst.common.component
ExploreServlets/.settings/org.eclipse.wst.common.project.facet.core.xml
ExploreServlets/.settings/org.eclipse.wst.jsdt.ui.superType.container
ExploreServlets/.settings/org.eclipse.wst.jsdt.ui.superType.name
Servers/.project
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/apache-tomcat-9.0.55 at localhost-config/catalina.policy
Servers/apache-tomcat-9.0.55 at localhost-config/catalina.properties
Servers/apache-tomcat-9.0.55 at localhost-config/context.xml
Servers/apache-tomcat-9.0.55 at localhost-config/server.xml
Servers/apache-tomcat-9.0.55 at localhost-config/tomcat-users.xml
Servers/apache-tomcat-9.0.55 at localhost-config/web.xml
StudentsWebApplication/.classpath
StudentsWebApplication/.project
StudentsWebApplication/.settings/.jsdtscope
StudentsWebApplication/.settings/org.eclipse.jdt.core.prefs
StudentsWebApplication/.settings/org.eclipse.wst.common.component
StudentsWebApplication/.settings/org.eclipse.wst.common.project.facet.core.xml
StudentsWebApplication/.settings/org.eclipse.wst.jsdt.ui.superType.container
StudentsWebApplication/.settings/org.eclipse.wst.jsdt.ui.superType.name
LayeredApplication/.classpath
LayeredApplication/.project
LayeredApplication/.settings/org.eclipse.jdt.apt.core.prefs
LayeredApplication/.settings/org.eclipse.jdt.core.prefs
LayeredApplication/.settings/org.eclipse.m2e.core.prefs
LayeredApplication/target/classes/app-objects.xml
LayeredApplication/target/classes/META-INF/MANIFEST.MF
LayeredApplication/target/classes/META-INF/maven/com.ingine.explore/LayeredApplication/pom.properties
LayeredApplication/target/classes/META-INF/maven/com.ingine.explore/LayeredApplication/pom.xml
